<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

import numpy as np

data_url = 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'
data_file = 'LoanStats_2018Q4.csv'

In [0]:
# Aproach 1
# first load the file in Colab and then load in Notebook dataframe

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip
!head LoanStats_2018Q4.csv
!tail LoanStats_2018Q4.csv

df = pd.read_csv(data_file)
df.shape
df.head()

In [0]:
# Aproach 2 - this approach is not good cuz it is big data and is kind of slow
# load directly in Notebook dataframe

df = pd.read_csv(data_url)
df.shape
df.head()

In [0]:
# cleaning up the first and last rows for Aproach 1

df = pd.read_csv(data_file,skiprows=1,skipfooter=2,engine='python')

In [0]:
# cleaning up the first and last rows for Aproach 2

df = pd.read_csv(data_url,skiprows=1,skipfooter=2,engine='python')

In [0]:
df.shape
df.head()

In [0]:
# drop the columns that are NaN in each row and save in new Dataframe

df1 = df.drop(['url','member_id','desc','id'], axis=1)

In [0]:
# clean up some of the columns : int_rate

def int_rate_to_float(int_rate_str):
  return float(int_rate_str.strip().strip('%'))

df1['int_rate'] = df['int_rate'].apply(int_rate_to_float)
df1.head()

In [10]:
# clean up some of the columns : emp_title

df['emp_title'].value_counts(dropna=False)[:20]

# returns the number of unique values in emp_title column
len(df['emp_title'].value_counts())

# title() makes Title casing
# isinstance() checks the type of the passed value and returns True or False
def clean_title(title):
  if isinstance(title, str): 
    return title.strip().title()
  else: 
    return 'Unknown'

df1['emp_title'] = df['emp_title'].apply(clean_title)
df1.head()
len(df1['emp_title'].value_counts())

34902

In [0]:
# make a column 'emp_title_manager'

df1['emp_title_manager'] = df1['emp_title'].str.contains('Manager')
df1.head()

In [0]:
# filter the dataframe on that new column

condition = (df1['emp_title_manager'] == True)
managers = df1[condition]
non_managers = df1[-condition]

In [0]:
df1['issue_d'] = pd.to_datetime(df['issue_d'],infer_datetime_format=True)
df1['issue_d_year'] = df1['issue_d'].dt.year

In [0]:
# Bellow is the new work

In [55]:
df1['loan_status'].isnull().sum()

0

In [0]:
# make a column 'loan_status_is_great'

# 
def loan_status_is_great(loan_status):
  if (loan_status == 'Current') | (loan_status == 'Fully Paid'):
    return 1
  else:
    return 0

df1['loan_status_is_great'] = df1['loan_status'].apply(loan_status_is_great) 
df1.head()

In [0]:
df1.tail(10)

In [22]:
df1['last_pymnt_d'].isnull().sum()

159

In [81]:
# first have to convert 'last pymnt_d' column to datetime
# there are values in the column that are NaN, but seems the pandas function to_datetime() handles that
# it converts NaN to NaT which is similar to NaN but stored in datetime columns

df1['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)

df1['last_pymnt_d'].isnull().sum()

159

In [0]:
# preserving the orig column for other uses
df1['last_pymnt_d_orig'] = df['last_pymnt_d']

In [0]:
# other aproach to convert 'last pymnt_d' column to datetime
def make_date_from_datestr(date_str):
  if isinstance(date_str, str): 
    return pd.to_datetime(date_str, infer_datetime_format=True)
  else:
    return pd.NaT
#make_date_from_datestr('Oct-2018')
df1['last_pymnt_d_v2'] = df['last_pymnt_d'].apply(make_date_from_datestr)

In [0]:
# if you want to display only subset of columns 
# df1[['last_pymnt_d','last_pymnt_d_v2']].head(100)

# df1[df1['last_pymnt_d'].isnull()]

In [0]:
# make the year, month columns from already converted date column
df1['last_pymnt_d_month'] = df1['last_pymnt_d'].dt.month 
df1['last_pymnt_d_year'] = df1['last_pymnt_d'].dt.year

# make the year, month columns directly from the string date column
df1['last_pymnt_d_month_v2'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True).dt.month 
df1['last_pymnt_d_year_v2'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True).dt.year

In [0]:
last_paym_date_null = df1['last_pymnt_d'].isnull()
no_payment_date =df1[last_paym_date_null]

no_payment_date.head()

In [0]:
# cleanup the % column and convert to float
def cleanup_perc(perc_str):
  if isinstance(perc_str, str):
    return float(perc_str.strip().strip('%'))
  else:
    return np.NaN
cleanup_perc(np.NaN)    

df1['revol_util'] = df['revol_util'].apply(cleanup_perc)

In [0]:
# 
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

df = pd.read_csv(data_url)

In [4]:
df.shape
df.head()

'buying','maint','doors','persons','lug_boot','safety'

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01